.band {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-padrao);
}

.band img {
  width: var(--largura-imagens);
  height: var(--altura-imagens);
  object-fit: cover;
  margin-right: var(--margin-padrao);
}

/* Informações da banda */
.bandinfo {
  flex: 1;
}
