.aside {
  margin: var(--margin-padrao);
  padding: var(--padding-padrao);
  background-color: var(--cor-secao);
  border: var(--border-size) solid var(--cor-borda);
  border-radius: var(--border-radius);
}