.dark{
    background-color: #222;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light{
     background-color: #222;
     color: white;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     transition: 1s;
}

button{
    margin-top: 1rem;
    padding: 0. 5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #007bff;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #0056b3;
}
